WAZUH_INDEXER_JAVA_OPTS=-Xms2g -Xmx2g
WAZUH_INDEXER_PASSWORD=REPLACE_ME
WAZUH_API_PASSWORD=REPLACE_ME
WAZUH_DASHBOARD_PASSWORD=REPLACE_ME
POSTFIX_RELAYHOST=smtp.example.com:587
POSTFIX_RELAYHOST_USERNAME=user@example.com
POSTFIX_RELAYHOST_PASSWORD=REPLACE_ME
POSTFIX_ALLOWED_SENDER_DOMAINS=example.com
