# Secrets
.env
*.env
*.key
*.pem
*.pfx
*.p12
*.kdbx
*.sqlite

# Backups
*.bak
*.tar
*.tar.gz
*.tgz
*.zip

# Tooling
.DS_Store
Thumbs.db
.idea/
.vscode/
.mirror-staging/
.mirror-report.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
.terraform.lock.hcl
