PASTEFY_MYSQL_ROOT_PASSWORD=REPLACE_ME
PASTEFY_MYSQL_DATABASE=REPLACE_ME
PASTEFY_MYSQL_USER=REPLACE_ME
PASTEFY_MYSQL_PASSWORD=REPLACE_ME
PASTEFY_HTTP_SERVER_PORT=REPLACE_ME
PASTEFY_HTTP_SERVER_CORS=REPLACE_ME
PASTEFY_DATABASE_DRIVER=REPLACE_ME
PASTEFY_DATABASE_NAME=REPLACE_ME
PASTEFY_DATABASE_USER=REPLACE_ME
PASTEFY_DATABASE_PASSWORD=REPLACE_ME
PASTEFY_DATABASE_HOST=REPLACE_ME
PASTEFY_DATABASE_PORT=REPLACE_ME
PASTEFY_SERVER_NAME=REPLACE_ME
