DB_MYSQL_HOST=REPLACE_ME
DB_MYSQL_PORT=REPLACE_ME
DB_MYSQL_USER=REPLACE_ME
DB_MYSQL_PASSWORD=REPLACE_ME
DB_MYSQL_NAME=REPLACE_ME
MYSQL_ROOT_PASSWORD=REPLACE_ME
MYSQL_DATABASE=REPLACE_ME
MYSQL_USER=REPLACE_ME
MYSQL_PASSWORD=REPLACE_ME
MARIADB_AUTO_UPGRADE=REPLACE_ME
