SPEEDTEST_TRACKER_PUID=REPLACE_ME
SPEEDTEST_TRACKER_PGID=REPLACE_ME
SPEEDTEST_TRACKER_DB_CONNECTION=REPLACE_ME
SPEEDTEST_TRACKER_DB_HOST=REPLACE_ME
SPEEDTEST_TRACKER_DB_PORT=REPLACE_ME
SPEEDTEST_TRACKER_DB_DATABASE=REPLACE_ME
SPEEDTEST_TRACKER_DB_USERNAME=REPLACE_ME
SPEEDTEST_TRACKER_DB_PASSWORD=REPLACE_ME
SPEEDTEST_TRACKER_TZ=REPLACE_ME
SPEEDTEST_TRACKER_SCHEDULE=REPLACE_ME
SPEEDTEST_TRACKER_SERVERS=REPLACE_ME
SPEEDTEST_TRACKER_APP_KEY=REPLACE_ME
SPEEDTEST_TRACKER_POSTGRES_DB=REPLACE_ME
SPEEDTEST_TRACKER_POSTGRES_USER=REPLACE_ME
SPEEDTEST_TRACKER_POSTGRES_PASSWORD=REPLACE_ME
