NEXTCLOUD_PORT=8081
NEXTCLOUD_TRUSTED_DOMAINS=REPLACE_ME
NEXTCLOUD_ADMIN_USER=REPLACE_ME
NEXTCLOUD_ADMIN_PASSWORD=REPLACE_ME

POSTGRES_HOST=nextcloud-postgres
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=REPLACE_ME
POSTGRES_HOST_AUTH_METHOD=scram-sha-256
